<div class="show-detail">
  <p>Title: <%= @book.title %></p>
  <p>Body: <%= @book.body %></p>
</div>

<p class="show-links">
  <%= link_to "Edit", edit_book_path(@book.id) %>
  |
  <%= link_to "Back", books_path %>
</p>