/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

input[type="submit"] {
  padding: 0px 6px;
}

.links {
  margin-top: 10px;
}

/* フラッシュメッセージ */
.flash-message {
  margin-bottom: 20px;
}
.flash-message.notice {
  color: green;
}
.flash-message.alert {
  color: red;
}

/* エラーボックス */
.error-box {
  border: 2px solid red;
  background: #f0f0f0;
  margin-bottom: 20px;
}
.error-box-head {
  background: red;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
}
.error-box ul{
  margin: 33px;
}

/* トップページ */
.top-inner{
  margin: 33px;
}

.top-inner > p + p{
  margin-top: 33px;
}

/* Booksページ系 */
.books-title{
  margin-bottom: 10px;
}
.books-title-1{
  margin-bottom: 10px;
}

.books-table th,
.books-table td{
  padding: 7px 5px;
}

.books-sec {
  margin-top: 30px;
}

.books-form-chunk + .books-form-chunk{
  margin-top: 10px;
}
.books-form-chunk label {
  display: block;
}

.books-form-chunk .field_with_errors label {
  background: red;
  color: white;
  display: inline-block;
  padding: 0 5px;
}
.books-form-chunk .field_with_errors input, 
.books-form-chunk .field_with_errors textarea {
  border: 2px solid red;
}

.books-show-detail {
  margin: 33px;
}
.books-show-detail > * + *{
  margin-top: 20px;
}